// -- Equal Spaced Columns -- //
// Number of Columns - First Column
// Remaining Number of Columns * Margin Spacing
// Container Width - Total Margin Spacing
// Remaining Width / Total Number of Columns

@mixin equalSpaced( $num_of_cols, $spacing, $container_width  ){

  width: ( $container_width - ( $spacing * ($num_of_cols - 1) ) ) / $num_of_cols;
  margin-left: $spacing;
  margin-top: $spacing;
  float: left;

  // Remove Spacing from First Child
  &:first-child{
    margin-left: 0;
  }


  // Remove margin-left of the first element in each row.
  &:nth-child( #{$num_of_cols}n + 1){
    margin-left: 0;
  }

  // Top Row Remove Margin Top from First Row of Columns
  @for $i from 1 through $num_of_cols {
      &:nth-child(#{$i}) {
          margin-top: 0;
      }
  }


}

@mixin style-svg($color){
    .accent .iconic *{
      /* default colour for all paths except
      the one referred to as the accent */
      fill: $color;
      stroke: $color;
    }
    .accent .iconic-property-accent {
      fill: $svg-accent-color;
      stroke: $svg-accent-color;
    }
}
