@mixin stickFooter($height){
html, body {min-height: 100%;}

.wrapper {min-height: 100%;}

.foot {position: relative;
	margin-top: -$height; /* negative value of footer height */
	height: $height;
	clear:both;
    }
}
