@mixin stickFooter($height){
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        margin: 0 0 $height; /* bottom = footer height */
    }
    footer {
        position: absolute;
        left: 2.3%;
        bottom: 0;
        height: $height;
        width: 95.5%;
    }
}
