@mixin stickFooter($height, $wrapper-selector, $footer-selector){
    html,body{
        height: 100%;
    }

    /* Use interpolation syntax to use SassScript variables in selectors and property names*/
    #{$wrapper-selector} {
        min-height: 100%;
        /* equal to footer height */
        margin-bottom: -$height;
    }

    #{$wrapper-selector}:after {
        content: "";
        display: block;
    }

    #{$footer-selector}, #{$wrapper-selector}:after {
        /* .push must be the same height as footer */
        height: $height;
    }

    #{$footer-selector} {
        background: orange;
    }
}
