$Sticky-footer-height : 80px;
$breakpoint-small: 600px;
$breakpoint-medium: 750px;
$breakpoint-large: 960px;
$svg-fill-color: hsl(348, 17%, 50%);
$svg-accent-color: hsl(293, 57%, 60%);
$body-backgroundcolor: #555;
$header-footer-backgroundcolor:hsl(293, 57%, 95%);
