@import "normalize";
@import "variables";
@import "mixins";
@import "sticky-footer";

// -- Clearfix -- //
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.row{
    @extend .clearfix;
}

@include fill-svg(".iconic", $svg-fill-color);

@media screen and (min-width: $breakpoint-small){
    body{
//        background-color: blue;
    }

    .wrapper{
            max-width: $breakpoint-small;
//            background-color: orange;
            margin: 0 auto;
        }

    .col-3{
            @include equalSpaced(2, 5%, 100%);
            min-height: 420px;
    }

    .col-4{
        @include equalSpaced(2, 5%, 100%);
    }
}

@media screen and (min-width: $breakpoint-large){
    body{
        background-color: blue;
    }
    .wrapper{
        max-width: $breakpoint-large;
        background-color: yellow;
        margin: 0 auto;
    }

    /* The second row has the svg image boxes as three equal columns. */
    .col-3{
        background: #ccc;
        @include equalSpaced(3, 5%, 100%);

    }

    /* The third row will be four equal columns. */
    .col-4{
        background: #aaa;
        @include equalSpaced(4, 5%, 100%);
    }

    /* The footer, at the large sizes needs to be a sticky footer. */
    @include stickFooter($Sticky-footer-height,".wrapper", ".foot");
}
